:root {
    --main-color: #fdf2e9;
}

/*----------Header section-------*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    padding: 0 5rem;
    height: 9.8rem;
}

.logo {
    height: 2.2rem;
}

.header-nav ul {
    display: flex;
    gap: 4.8rem;
}

.header-nav ul li a {
    text-decoration: none;
    font-size: 1.8rem;
    color: #333;
    font-weight: 500;
}

.header-nav ul li a:hover,
.header-nav ul li a:active {
    color: #cf711f;
}

.header-nav ul li .active {
    background-color: #e67e22;
    color: white;
    padding: 1rem 2.5rem;
    border-radius: 1rem;
}

.header-nav ul li .active:hover {
    color: white;
    background-color: #cf711f;
}

.icon-mobile-nav {
    font-size: 4rem;
    display: none;
}



/*----------end Header section-------*/

/*----------hero section-------*/
.hero {
    padding: 4.5rem 2rem 5rem 5rem;
    background-color: var(--main-color);
    gap: 9rem;
}

.hero .hero-text {
    padding: 3rem 0 0 1rem;
}

.hero .hero-text .main-heading {
    font-size: 5.2rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
    color: #333;
}

.hero .hero-text .hero-description {
    font-size: 2rem;
    margin-bottom: 5.7rem;
    line-height: 1.6;
}

.hero .hero-img img {
    max-width: 96%
}

.btn-1 {
    background-color: #e67e22;
    padding: 1.3rem 3.3rem;
    border-radius: 1rem;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    margin-right: 1rem;
    transition: all 0.3s;
}

.btn-2 {
    background-color: white;
    padding: 1.3rem 3.3rem;
    border-radius: 10px;
    text-decoration: none;
    color: #555;
    font-size: 2rem;
    font-weight: 600;
    transition: all 0.3s;
    border: none;
}

.btn-1:hover {
    background-color: #cf711f;
}

.btn-2:hover {
    background-color: var(--main-color);
    box-shadow: inset 0 0 0 3px #fff;
}

.customer {
    margin-top: 9rem;
    display: flex;
    align-items: center;
    gap: 2.8rem;
}

.customer-img {
    display: flex;
}

.customer img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 3px solid white;
    margin-right: -1.7rem;
}

.customer .customer-img {
    font-size: 1.8rem;
    font-weight: 600;
}

.customer .customer-img span {
    color: #cf711f;
    font-weight: 700;
}

/*----------end hero section-------*/

/*----------featured-----------*/
.featured {
    padding: 4rem 2rem;
    text-align: center;
}

.featured-img {
    display: flex;
    margin-top: 4rem;
    justify-content: space-around;
}

.featured-img img {
    height: 3.2rem;
    /* width: 18rem; */
    filter: brightness(0);
    opacity: 50%;
}

/*----------end featured-----------*/


/*----------How it work section-------*/
.how-it-work {
    padding: 7rem 7rem;
}

.box {
    align-items: center;
    column-gap: 6rem;
    margin-bottom: 9rem;
}

.how-it-work .number {
    font-size: 8.6rem;
    color: #ddd;
    font-weight: 600;
}

.how-it-work .head {
    font-size: 3rem;
    color: #333;
    margin: 2rem 0 4rem 0;
}

.how-it-work .data {
    font-size: 1.8rem;
    line-height: 1.7;
}

.how-it-work .box-img {
    display: flex;
    justify-content: center;
    position: relative;
}

.how-it-work .box-img::after {
    content: "";
    position: absolute;
    width: 32rem;
    height: 32rem;
    background-color: var(--main-color);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
}

.how-it-work .box-img::before {
    content: "";
    position: absolute;
    width: 25rem;
    height: 25rem;
    background-color: #fae5d3;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.how-it-work .box-img img {
    height: 38rem;
}

/*----------end How it work section-------*/


/*---------meals section-----------*/
.meals {
    padding-bottom: 10rem;
}

.head-center {
    text-align: center;
}

.meals-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    column-gap: 6.7rem;
    row-gap: 7rem;
    padding-top: 6rem;
}

.meal-box {
    border-radius: 9px;
    overflow: hidden;
    padding-bottom: 3rem;
}

.meal-box:not(:last-child) {
    box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 8%);

}

.meal-box img {
    width: 100%;

}

.meal-text {
    padding: 3.8rem 0 0 4.5rem;
}

.meal-text .food-type {
    background-color: #51cf66;
    width: fit-content;
    padding: 0.4rem 0.75rem;
    color: #333;
    font-weight: 700;
    border-radius: 20px;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.meal-text .meal-head {
    font-size: 2.3rem;
    color: #333;
    margin-bottom: 2.8rem;
}

.meals li {
    display: flex;
    align-items: center;
    column-gap: 1.4rem;
    margin-bottom: 2rem;
}

/* .meals li:not(:last-child) {
    margin-bottom: 2rem;
} */

.meal-span {
    font-size: 1.8rem;

}

.meal-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: #e67e22;
}

.meal-text .meal2 {
    width: fit-content;
    padding: 0.3rem 0.5rem;
    border-radius: 20px;
    font-size: 1.3rem;
    color: #333;
    font-weight: 600;
}

.meal-text .meal-name1 {
    background-color: #94d82d;
    margin-bottom: 2.3rem;
}

.meal-text .meal-name2 {
    background-color: #ffd43b;
}

.special-head {
    margin-top: 2.3rem;
}

.meals-names h1 {
    font-size: 3rem;
    margin-bottom: 3.2rem;
    color: #333;
}

.link {
    color: #e67e22;
    font-size: 1.8rem;
    margin-top: 5rem;
    /* text-align: center; */
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 3px;
    transition: all 0.3s;
}

.recipes {
    text-align: center;
}

/*---------end meals section-----------*/

/*---------testimonials-----------*/
.section-testimonials {
    background-color: var(--main-color);
    padding: 10rem 0 6rem 10rem;
}

.testimonials-text {
    padding: 2rem;
}

.testimonial {
    border: 2px solid white;
    padding: 3rem 1.4rem 2rem;
    position: relative;
}

.testimonial img {
    height: 7rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    position: absolute;
    top: -4.8rem;
    left: 50%;
    transform: translateX(-50%);
}

.testimonial .report {
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

/* .testimonial {} */


.testimonials-img {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}

.testimonials-img img {
    width: 100%;
}

/*---------end testimonials-----------*/

/*---------pricing-----------*/
.pricing {
    padding: 8rem 0;
}

.price-boxes {
    padding: 0 15rem;
}

.price-box {
    text-align: center;
    border: 1px solid var(--main-color);
    padding: 4rem;
    border-radius: 9px;

}

.special-price-box {
    background-color: var(--main-color);
    position: relative;
    overflow: hidden;
}

.price-box h2 {
    color: #cf711f;
    font-size: 2rem;
    margin-bottom: 2.4rem;
}

.price-box h1 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 2.4rem;
}

.price-box h1 span {
    font-size: 5rem;
}

.price-box p {
    font-size: 1.8rem;
    margin-bottom: 4rem;
}

.price-list {
    margin-bottom: 8rem;
}

.price-list li {
    display: flex;
    align-items: center;
    column-gap: 1.4rem;
    margin-bottom: 3rem;
}

.price-list .price-span {
    font-size: 1.8rem;
    text-align: left;
}

.price-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: #e67e22;
}

.special-price-box::after {
    content: "BEST VALUE";
    position: absolute;
    background-color: #ffd43b;
    height: 1rem;
    width: fit-content;
    top: 26px;
    right: -38px;
    padding: 1.1rem 5rem;
    font-size: 1.3rem;
    font-weight: 700;
    /* transform: rotate(14px); */
    transform: rotate(40deg);
    color: #333;
}

.note {
    text-align: center;
    font-size: 1.6rem;
    margin-top: 5rem;
}

/*---------end pricing-----------*/

/*-------------Advantages---------*/
.advantages {
    padding-bottom: 12rem;
    padding-top: 2rem;
}

.advantages .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 3rem;
}

.advantage {
    padding: 1rem;
}

.advantage .advantage-icon {
    background-color: var(--main-color);
    color: #e67e22;
    padding: 2rem;
    border-radius: 50%;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.advantage .advantege-text h1 {
    font-size: 2.4rem;
    color: #333;
    margin-bottom: 1.6rem;
    font-weight: 700;
}

.advantage .advantege-text p {
    font-size: 1.8rem;
    line-height: 1.6;
}

/*-------------end Advantages---------*/


/*-------------contact---------*/
.contacts {
    padding-bottom: 12rem;
}

.contact {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-radius: 9px;
    overflow: hidden;
    box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 12%);
}

.contact-text {
    color: #45260a;
    background-color: #e67e22e0;
    padding: 6rem 4rem 5.3rem 6rem;
}

.contact-text h1 {
    font-size: 4rem;
    margin-bottom: 3.8rem;
}

.contact-text p {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 4.8rem;
}

.contact-input form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 1rem;
}

.contact-input {
    padding-right: 4rem;
}

.contact-input label {
    font-size: 1.6rem;
    display: block;
    font-weight: 500;
    margin-bottom: 1.1rem;
}

.contact-input input,
.contact-input select {
    padding: 1.3rem 9rem 1.3rem 1.8rem;
    border-radius: 9px;
    border: none;
    /* margin-bottom: 2rem; */
}

.contact-input input:focus,
.contact-input select:focus {
    /* border: 6px solid wheat; */
    outline: solid 6px wheat;
}

.contacts-link {
    display: flex;
    align-items: flex-end;
    /* margin-top: 0.5rem; */
    text-align: center;
}

.contact-link {
    background-color: #45260a;
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 1.3rem 8.7rem 1.3rem 8.7rem;
    font-size: 1.8rem;
    border-radius: 9px;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    transition: all 0.3s;
}

.contact-link:hover {
    background-color: white;
    color: #555;
}

/* .contact-img img {
    width: 100%;
    height: 100%;
} */

.contact-img {
    background-image: linear-gradient(to right bottom, rgba(235, 151, 78, 0.35), rgba(230, 125, 34, 0.35)), url("../img/eating.jpg");
    background-size: cover;
    background-position: center;
}

/*-------------end contact---------*/


/*-------------footer---------*/
.footer {
    padding: 11rem 0 6rem;
    border-top: 1px solid #eee;

}

.footer .container {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
    gap: 4rem;
    /* color: #777; */
}

.footer-box {
    padding: 2rem 1rem 2rem;
}

.footer .container img {
    margin-bottom: 3rem;
}

.media-list {
    display: flex;
    gap: 2rem;
    margin-bottom: 6rem;
}

.media-list a {
    font-size: 2.8rem;
    color: #777;
}

.footer-box p {
    font-size: 1.4rem;
    line-height: 1.6;
    margin-bottom: 4rem;
}

.footer-box h1 {
    font-weight: 600;
    margin-bottom: 3.5rem;
}

.information-list li {
    margin-bottom: 2.4rem;
}

.information-list li a {
    font-size: 1.6rem;
    color: #767676;
    text-decoration: none;
}

/*-------------end footer---------*/